<!DOCTYPE html>
<html>
<head>
    <title>Klasifikasi TA</title>
</head>

<body>

<h2>Klasifikasi Tugas Akhir</h2>

<form onsubmit="submitForm(event)">
    <input type="text" name="judul" placeholder="Judul" required><br><br>
    <textarea name="abstrak" placeholder="Abstrak" required></textarea><br><br>

    <button type="submit">Prediksi</button>
</form>

<div id="result"></div>

<script>
async function submitForm(e) {
    e.preventDefault();

    const formData = new FormData(document.querySelector("form"));

    const res = await fetch("/predict", {
        method: "POST",
        body: formData
    });

    const data = await res.json();

    if (data.error) {
        document.getElementById("result").innerHTML =
            "<b style='color:red'>" + data.error + "</b>";
    } else {
        document.getElementById("result").innerHTML =
            "<b>Hasil Klasifikasi:</b> " + data.prediction;
    }
}
</script>

</body>
</html>